.accent{
    background-color: rgb(45, 108, 131);
}
.background{
    background-color: rgb(33, 78, 94);
}
.white{
    color: white;
}

.logout_button{
    position: absolute;
}


ul.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    
}