<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<body>
    <div class="container">
        <div class="row padding">
            <div class="col-lg-4 bottom_row_padding">
                <div class="top_padding center"></div>
            </div>
            <div class="col-lg-4 bottom_row_padding">
                <div class="top_padding center"></div>
                <b class="white">LOGIN</b>
                {% if errorcode == 2 or errorcode == 3 %}
                <div>Username does not exist or password is incorrect.</div>
                {% endif %}
                <form name="Form" method="POST" action="/login">
                    <input name="email" type="text">
                    <input name="password" type="text"> <div></div>
                    <input type="submit" value="Login">
                </form>
                <form name="Form" action="/signup">
                    <input type="submit" value="Signup">
                </form>
            </div>
            <div class="col-lg-4 bottom_row_padding">
                <div class="top_padding center"></div>
            </div>
        </div>
        </div>
    </div>
<body>
