{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</link>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span> {{data[0]}} </span> <br>
                <span> DOB: {{data[1]}} </span> <br>
                <span> Follower Count: </span> <br>
                <span> Average Score: </span> <br>
            </div>
        </div>
    </div>


    <form name="Form" method="POST" action="/follow">
        <input type="hidden" name="val" value={{data[0]}}> 
        <input type="submit" value="Follow">
    </form>


</body>





{% endblock %}