{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</link>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 white">
                <span> {{data[0]}} </span> <br>
                <span> DOB: {{data[1]}} </span> <br>
                <span> Follower Count: {{followers}}</span> <br>
                <span> Total Puzzles Solved: {{completed}} </span> <br>
                <span> Average Score: {{avg}}</span> <br>
                <span> Streak: {{streak}} </span> <br>
                {% if sname != [] %}
                <span> Attends: {{sname[0]}}</span> <br>
                {% endif %}
            </div>
            {% if caninsert == True %}
            <form name="Form" method="POST" action="/attends">
                <input type="text" name="attend" placeholder="Enter University name"> 
                <input type="submit" value="Enter">
            </form>
            {% endif %}
            
        </div>
    </div>


    <form name="Form" method="POST" action="/follow">
        <input type="hidden" name="val" value={{data[0]}}> 
        <input type="submit" value="Follow">
    </form>


</body>





{% endblock %}
