<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<body>
    <div class="container">
        <div class="row padding">
            <div class="col-lg-4 bottom_row_padding">
                <div class="top_padding center"></div>
            </div>
            <div class="col-lg-4 bottom_row_padding">
                <div class="top_padding center"></div>
                <b class="white">SIGN UP</b>
                <form name="Form" method="POST" action="/signin">
                    Email: <input name="email" placeholder = 'johnnyappleseed@something.com' type="text"><br>
                    Password: <input name="password" placeholder ='xxxxx' type="text"> <br>
                    Birthday: <input name="birthday" placeholder = 'YYYY-DD-MM' type="text"><div></div>
                    <input type="submit" value="Sign Up">
                </form>
            </div>
            <div class="col-lg-4 bottom_row_padding">
                <div class="top_padding center"></div>
            </div>
        </div>
        </div>
    </div>
<body>
